body, html {
    height: 100vh;
  overflow: hidden;    /* allow vertical scrolling */
    background: url(./image/717781.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.main-content{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background: rgb(0, 0, 0, 0.3);
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
.title-h3{
    color: #fff;
    font-size: 4rem;
}
.title-h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
}